
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-report/
/allure-results/


await page.waitForEvent({setTimeout(() => {}, 3000);})  --> explicit wait